*{
    background-color:darkcyan;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1{
    display: flex;
    justify-content: center;
}

#wrapper{
    max-width: 1000px;
    margin: auto;
}

#container{
    display: flex;
    justify-content: space-around;
}

#container2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#displayMessage{
    display: flex;
    margin:auto;
}

#playerAnswer{
    display: flex;
    margin:auto;
    background-color: white;
}

#row{
    display: flex;
    justify-content: space-between;
}

.choice{
    width: 150px;
    height: 100px;
    border: 5px solid black;
    border-radius: 10%;
    margin-left: 2%;
    margin-right: 2%;
}

#rockChoice{
    background-color: grey;
}

#paperChoice{
    background-color: white;
}

#scissorsChoice{
    background-color: red;
}

.choice:active{
    scale: 1.05;

}